body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.mainimage {
    height: 100px;
}
.mainbody {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: oblique;

}
.jumbotron {
    background-image: url('images/tech-1495181_1920.jpg');
    background-size: cover;
    padding:10px;
    margin-top: 20px;
}
.footer {
    text-align: center;
}
.navbar {
    background-color: indigo!important;
}
.navbar-inverse a {
    color: #89D7FD !important;
}
.btn-default {
    background-color: #89D7FD!important;
    
}
.btn-default a {
    color: black!important;
    text-align: center!important;
}
.reviewtitle {
    font-size: 20px!important;
    

}
.reviewthumb {
    margin-top:20px;
}

.reviewcontainer {
    margin-top: 20px;
    background-image: url('images/pexels-photo-373543.jpeg');
    background-size: cover;
}
