@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TechReview</h1>
    <p class="lead">
        TechReview, a site dedicated to reviewing tech that you review!
        
    </p>
    
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Reviews</h2>
        <p>
            Create Reviews of Tech that you want to review!
        </p>
        <p><a class="btn btn-default" href="http://localhost:49524/Reviews">Reviews &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>Categories</h2>
        <p>You can easily add Categories for your Reviews</p>
        <p><a class="btn btn-default" href="http://localhost:49524/Categories">Categories &raquo;</a></p>
    </div>
</div>